@{
    ViewBag.Title = "Welcome";
}

<h2>A Personalized Welcome Message</h2>
<hr />

<p>
    Your message, "<strong>@ViewData["Message"]</strong>", will be shown <strong>@ViewData["NumTimes"]</strong> times below:
</p>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@(i + 1). @ViewData["Message"]</li>
    }
</ul>